<div>
    @*Thứ tự câu hỏi*@
    <div class="row" style="padding-top: 1%">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="current-question">
                        <span>Câu 1</span>
                    </th>
                    <th>
                        <span>Câu 2</span>
                    </th>
                    <th>
                        <span>Câu 3</span>
                    </th>
                    <th>
                        <span>Câu 4</span>
                    </th>
                    <th>
                        <span>Câu 5</span>
                    </th>
                    <th>
                        <span>Câu 6</span>
                    </th>
                    <th>
                        <span>Câu 7</span>
                    </th>
                    <th>
                        <span>Câu 8</span>
                    </th>
                    <th>
                        <span>Câu 9</span>
                    </th>
                    <th>
                        <span>Câu 10</span>
                    </th>
                    <th>
                        <span>Câu 11</span>
                    </th>
                    <th>
                        <span>Câu 12</span>
                    </th>
                    <th>
                        <span>Câu 13</span>
                    </th>
                    <th>
                        <span>Câu 14</span>
                    </th>
                    <th>
                        <span>Câu 15</span>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    @*Kết thúc thứ tự câu hỏi*@

    @*Thời gian + Điểm cao*@
    <div class="row" style="border: solid">
        @*Thời gian*@
        <div class="col-md-2">
            Thời gian: <span>69</span> s
        </div>
        @*Kết thúc Thời gian*@

        @*Số tiền hiện tại*@
        <div class="col-md-3">
            Số tiền hiện tại: <span>1.000.000</span> VNĐ
        </div>
        @*Kết thúc Số tiền hiện tại*@

        @*Điểm cao*@
        <div class="col-md-3">
            Điểm cao: <span>6969</span> điểm
        </div>
        @*Kết thúc Điểm cao*@


    </div>
    @*Kết thúc Thời gian + Điểm cao*@

    @*Câu hỏi*@
    <div class="row" style="padding-top: 1%">
        <div class="col-md-12">
            <div class="question">
                <label class="form-control text-center">
                    Câu 1: Bảo đẹp trai vl
                </label>
            </div>
        </div>
    </div>
    @*Kết thúc câu hỏi*@

    @*Đáp án*@
    <div class="row" style="padding-left: 10%; padding-top: 1%">
        <div class="col-md-6">
            <input class="form-control correct-answer" type="button" value="Đáp án A: Đáp án đúng" />
        </div>
        <div class="col-md-6">
            <input class="form-control wrong-answer" type="button" value="Đáp án B: Đáp án sai" />
        </div>
    </div>
    <div class="row" style="padding-left: 10%; padding-top: 1%">
        <div class="col-md-6">
            <input class="form-control" type="button" value="Đáp án C" />
        </div>
        <div class="col-md-6">
            <input class="form-control" type="button" value="Đáp án D" />
        </div>
    </div>
    @*Kết thúc đáp án*@

    @*Công cụ*@
    <div class="row" style="padding-top: 1%">
        @*Quyền trợ giúp*@
        <div class="col-md-6">
            Quyền trợ giúp
            <table class="table table-bordered">
                <tr>
                    <th><input class="form-control" type="button" value="50/50"/></th>
                    <th><input class="form-control" type="button" value="Gọi điện người thân"/></th>
                    <th><input class="form-control" type="button" value="Hỏi ý kiến khán giả"/></th>
                    <th><input class="form-control" type="button" value="Tổ tư vấn"/></th>
                </tr>
            </table>
        </div>
        @*Kết thúc Quyền trợ giúp*@
    </div>
    @*Kết thúc công cụ*@
</div>