body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

th.current-question {
    text-decoration: none;
    background-color: #3380CB;
    border: #fff solid 2px;
    color: #fff;
}

div.question label {
    text-decoration: none;
    background-color: #F9A8FF;
    border: #fff solid 2px;
    color: #000000;
}

input.correct-answer {
    text-decoration: none;
    background-color: #BCFFA8;
    border: #fff solid 2px;
    color: #000000;
}

input.wrong-answer {
    text-decoration: none;
    background-color: #FF7651;
    border: #fff solid 2px;
    color: #000000;
}